


<div class="content" role="main" style="margin-top: 150px;">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <span>LOGIN</span>

  </div>
  <!-- </div> -->
  
<!-- <!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> --> <!---->
<!-- <div class="card highlight-card card-small" style="color:black;"> -->
	<div class="example-container" style="width:320px;text-align:center;">
		<br>
		<!-- <br><br><br> -->
		<mat-form-field appearance="fill" style="display: block; margin-bottom: 10px;">
			<mat-label>Enter your email</mat-label>
			<input matInput placeholder="pat@example.com" [formControl]="email" required>
			<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill" style="display: contents;">
			<mat-label>Enter your password</mat-label>
			<input matInput [type]="hide ? 'password' : 'text'">
			<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
			<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
		</mat-form-field>
	  
		<section>

		<div class="example-button-row">
			<button mat-raised-button color="accent">Accent</button>
			<button mat-raised-button (click)="submit()" color="primary">Primary</button>
			<button mat-raised-button (click)="doc()" color="accent">Document List</button>
		</div>
		</section>

	</div>
</div>
<!-- <p>login works!</p> -->
